@import "https://cdn.skypack.dev/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  font: 0.9em sans-serif;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

.button-admin {
  position: fixed;
  left: 10px;
  bottom: 70px; /* Menggeser ke atas */
  padding: -5px 10px;
  background-color: rgb(44, 44, 44);
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-admin:hover {
  background-color: #3c3c3c; /* Mengubah warna hover */
}

.button-home {
  position: fixed;
  left: 10px;
  bottom: 40px; /* Menggeser ke atas */
  padding: -5px 10px;
  background-color: rgb(44, 44, 44);
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-home:hover {
  background-color: #3c3c3c; /* Mengubah warna hover */
}

.navbar {
  background-color: rgb(44, 44, 44);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 2px solid #f4623a;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.navbar-title {
  color: #fff;
  font-size: 1rem;
  margin: 0;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin-left: 10px;
}

.navbar-links:hover {
  color: #f4623a;
  background-color: rgba(244, 98, 58, 0.1);
}

.navbar-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    border-bottom: none;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(44, 44, 44);
    padding: 1rem 0;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-links {
    padding: 0.5rem 1rem;
    margin: 5px 0;
    text-align: center;
  }

  .navbar-toggle {
    display: block;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }

  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-title {
    font-size: 0.8rem;
  }
}

/* Tambahkan styles untuk footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(44, 44, 44);
  color: #ffffff;
  text-align: center;
  padding: 1px; /* Mengurangi padding */
  z-index: 1002;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  font-size: 0.8em; /* Mengurangi ukuran font */
  height: 30px; /* Menentukan tinggi tetap */
  line-height: 20px; /* Menyesuaikan line-height */
}

.footer p {
  margin: 0; /* Menghilangkan margin default paragraf */
}

/* Media Queries untuk Responsivitas */
@media (max-width: 600px) {
  .navbar h1, .footer p {
    font-size: 1.2em;
  }
  #popup-input input, #popup-input button {
    width: 100%;
    margin-bottom: 10px;
  }
}
